# Виключити всю теку з бінарними файлами провайдерів та іншими службовими файлами
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Включити lock-файл, як вимагає завдання (це скасовує виключення .terraform/)
!.terraform.lock.hcl